[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
beautifulsoup4 = "*"
gpt4all = "*"
tiktoken = "*"

[dev-packages]

[requires]
python_version = "3.9"
